*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	font-size: 9px;

	@media (min-width: $desktop) {
		font-size: 10px;
	}
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;
	min-height: 100%;
	font: normal 1.6rem/1.5 $font_1;
	color: $color_body;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: $color_body;
	transition: all 0.5s ease;

	&:hover,
	&:active,
	&:focus {
		color: $gray;
	}
}

p {
	padding: 2rem 0;
}

strong {
	font-weight: bold;
}

h1 {
	padding: 2rem 0;
	font: normal 2rem $font_1;

	+ h2 {
		padding-top: 2.5rem;
	}
	+ .listing {
		padding-top: 2rem;
	}
}

h2 {
	padding: 1.5rem 0;
	font: normal 1.9rem $font_1;
}

h3 {
	padding: 1rem 0;
	font: normal 1.8rem $font_1;
}

// wrapper
.container {
	@include container;
	@include clearfix;
}

.page-wrapper {
	position: relative;
	max-width: 100%;
	min-height: 100%;
	height: auto !important;
	overflow: hidden;
	background: url("../img/main-bg.svg") center repeat fixed;
	background-color: #fff;
	background-size: 30rem;
}

// title`s
.title {
	position: relative;
	text-transform: uppercase;
	color: $color_title;

	&--green {
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			width: 70%;
			height: 0.6rem;
			background-color: $green;
		}
	}
	&--center {
		margin: 0 auto;
		text-align: center;
		&:after {
			width: 100%;
		}
	}
}

// table
.mytable {
	width: 65%;
  max-width: 100%;
  margin: 2rem 0;
	background: transparent;
	border-spacing: 0;
  border-collapse: collapse;
}

.mytable > tbody > tr {
	text-align: center;
}

.mytable > tbody > tr > td {
	width: 50%;
	padding: 2rem 1rem;
}

.mytable > tbody > tr:first-of-type > td {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.8rem;
	color: $green;
}

.mytable > tbody > tr > td:first-child {
	font-weight: 600;
	border-right: 1px solid $green;
}

.mytable > tbody > tr:nth-of-type(odd) {
	background-color: $gray_light;
}

.mytable > tbody > tr:nth-of-type(even) {
	background-color: #dadada;
}

.mytable > tbody > tr:nth-of-type(even) > td:first-child {
	color: $gray;
}

// back to top
.back-top {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	z-index: 450;

	a {
		display: block;
		width: 5rem;
		height: 5rem;
		background: url("../img/icons/top.svg") center no-repeat;
		background-size: contain;
		text-align: center;
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			cursor: pointer;
			outline: none;
			transform: scale(1.1);
		}
	}
}
