// colors
$color_shadow: rgba(76, 76, 76, 0.2);

$color_body: #3c3c3b;
$color_field: #5f7782;
$color_field_hover: rgba(50, 60, 75, 1);
$color_field_border: #aab7bd;
$color_title: #455a64;

$gray_dark: #706f6f;
$gray: #878787;
$gray_light: #f6f6f6;
$gray_lightest: #f5f5f5;

$green: #00a13a;
$green_light: #4eb543;
$green_dark: #04852b;
$green_opacity: rgba(0, 161, 58, 0.75);

$grey: #78909c;

// shadow
$img-shadow: 2px 2px 5px $color_shadow;

// fonts
$font_1: "Open Sans", "Arial", sans-serif;

// media
$mobile: 320px;
$mobile_full: 468px;
$tablet: 767px;
$desktop: 1040px;
