.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	padding: 1rem 2rem;
	border: none;
	background-color: $gray;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: normal 2.2rem $font_1;
	color: #fff;

	&:hover,
	&:active {
		text-decoration: none;
	}
}
