.button {
	position: relative;
	display: inline-block;
	width: 100%;
	max-width: 33rem;
	padding: 1.2rem 3rem;
	border: 1px solid $green;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	user-select: none;
	touch-action: manipulation;
	font-weight: 600;
	font-size: 1.6rem;
	vertical-align: middle;
	text-align: center;
	white-space: normal;
	word-wrap: normal;
	color: #fff !important;
	background-color: $green;
	-webkit-appearance: none;

	@include effect;

	&:hover,
	&:active {
		color: #fff;
	}

	&--small {
		max-width: 17rem;
		padding: 0.5rem;
		border-radius: 0.7rem;
	}

	&--grey {
		border-color: $grey;
		font-size: 1.4rem;
		color: $grey;
		background-color: $grey;

		&:hover,
		&:active {
			color: #fff;
			background-color: $grey;
			border-color: $grey;
			box-shadow: 5px 5px rgba(127, 150, 161, 0.6);
		}
	}

	&--icon {
		padding-left: 4rem;
		padding-right: 1rem;

		&:after {
			content: "";
			z-index: 550;
			position: absolute;
			top: 0.3rem;
			left: 1rem;
			width: 4rem;
			height: 4rem;
			background: url("../img/icons/pdf.svg") center no-repeat;
			transform: translateZ(0);
		}
		&:hover {
			&:after {
				animation-name: hvr-icon-hang-sink, hvr-icon-hang;
				animation-duration: 0.3s, 1.5s;
				animation-delay: 0s, 0.3s;
				animation-timing-function: ease-out, ease-in-out;
				animation-iteration-count: 1, infinite;
				animation-fill-mode: forwards;
				animation-direction: normal, alternate;
			}
		}
	}
}

// icon animation
@keyframes hvr-icon-hang {
	0% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}

	50% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	100% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
}
@keyframes hvr-icon-hang-sink {
	100% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
}
