.catalog {}

.catalog__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.catalog__item {
	position: relative;
	width: 24rem;
	min-height: 34rem;
	margin: 0 0.5rem 2rem 0;
	transition: all 0.5s ease;

	@media (max-width: 920px) {
		margin-bottom: 1rem;
	}
	@media (max-width: $tablet) {
		width: 20rem;
		min-height: 29rem;
	}
	@media (max-width: $mobile_full) {
		width: 14rem;
		min-height: 20rem;
	}
}

.catalog__link {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: inherit;
	background-color: #706F6F;
	border-radius: 12rem 12rem 0 0;
	transition: all 0.3s;

	&:hover,
	&:active {
		background-color: $green;
	}
}

.catalog__img {
	position: absolute;
  top: 8px;
  left: 0;
	right: 0;
  width: 95%;
	margin: auto;

	img {
		max-width: 100%;
	}
	@media (max-width: $tablet) {
		top: 4px;
	}
	@media (max-width: $mobile_full) {
		top: 3px;
	}
}

.catalog__text {
	margin-top: auto;
	margin-bottom: 1rem;
	padding: 1.5rem 3rem;
	text-align: center;
	font: 600 2rem $font_1;
	color: #fff;
	transition: all 0.3s;

	@media (max-width: $tablet) {
		font-size: 1.8rem;
	}

	@media (max-width: $mobile_full) {
		margin-bottom: 0;
		padding: 1rem;
		font-size: 1.4rem;
	}
}
