.catalog {}

.catalog__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.catalog__item {
	position: relative;
	width: 24rem;
	min-height: 34rem;
	margin: 0 0.5rem 2rem 0;
	transition: all 0.5s ease;

	@media (max-width: 920px) {
		margin-bottom: 0;
	}
	@media (max-width: $tablet) {
		width: 20rem;
	}
	@media (max-width: $mobile_full) {
		min-height: 30rem;
	}
}

.catalog__link {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: inherit;
	background: url("../img/catalog-mark-grey.svg") center no-repeat;
	transition: all 0.3s;

	&:hover,
	&:active {
		background-image: url("../img/catalog-mark-green.svg");

		.catalog__text {
			background-color: $green;
		}
	}
}

.catalog__img {
	position: absolute;
  top: 18px;
  left: 6px;
  width: 95%;

	img {
		max-width: 100%;
	}
	@media (max-width: $tablet) {
		top: 40px;
		left: 5px;
	}
	@media (max-width: $mobile_full) {
		top: 20px;
	}
}

.catalog__text {
	margin-top: auto;
	margin-bottom: 1.5rem;
	padding: 1.5rem 1rem;
	text-align: center;
	font: 600 2rem $font_1;
	color: #fff;
	background-color: #706F6F;
	transition: all 0.3s;
}
