.expert {
	padding-bottom: 10rem;
}

.expert__list {
	display: flex;

	@media (max-width: $tablet) {
		flex-wrap: wrap;
	}
}

.expert__item {
	width: 33%;
	background-color: $gray_light;

	&:not(:last-child) {
		margin-right: 3%;
	}

	@media (max-width: $tablet) {
		width: 70%;
		margin: 1rem auto;

		&:not(:last-child) {
			margin-right: auto;
		}
	}
	@media screen and (max-width: $mobile_full) {
		width: 100%;
	}
}

.expert__img-wrapper {
	position: relative;
	width: 100%;
	height: 26rem;
	overflow: hidden;

	img {
		@include center;
	}
}

.expert__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.expert__title {
	padding-top: 2rem;
	font-weight: 600;
	font-size: 1.6rem;
}

.expert__name {
	padding-bottom: 1rem;
}

.expert__contact {
	position: relative;
	padding-bottom: 1rem;
	padding-left: 3rem;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 2.5rem;
		height: 2.5rem;
		background: center no-repeat;
		background-size: cover;
	}

	&--phone {
		&:before {
			background-image: url("../img/icons/phone.svg");
		}
	}
	&--skype {
		&:before {
			background-image: url("../img/icons/skype.svg");
		}
	}
	a:hover {
		color: $green;
	}
}
