.modal {
	z-index: 1000;
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
	width: 100%;
	max-width: 50rem;
	height: 40rem;
	max-height: 100%;
	border: 2px solid rgba(0,0,0,0.15);
	background: #fff;
	box-shadow: 0.4rem 0.4rem 0.5rem $color_shadow;
	outline: none;
	overflow: hidden;
	transform: translate(-50%, -50%);
	transition: all .5s ease;

	// show modal window
	&_show {
		display: block;
	}
	// background
	&_bg {
		z-index: 500;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100%;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%, rgba(20,20,20,0.5) 100%);
		transition: all .5s ease;
	}
	// blur
	&_blur {
		filter: blur(0.25em);
	}
}

.modal__close {
	z-index: 1;
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 4rem;
	height: 4rem;
	font-size: 0;
	border: none;
	border-radius: 50%;
	background: url("../img/icons/cross.svg") center no-repeat;
	background-size: contain;
	transition: all 0.3s;

	&:hover,
	&:active,
	&:focus {
		cursor: pointer;
		outline: none;
		transform: scale(1.1);
	}
}

.modal__guts {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 2rem;
	text-align: center;
	overflow: auto;

	.title {
		color: $green;
		font-weight: 600;
	}

	.contacts__form {
		width: 100%;
	}
}
