.pagination {
	display: flex;
	padding: 2rem 0;
}

.pagination__item {
	margin-right: 1rem;

	a {
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		font-size: 0;
		border-radius: 50%;
		background-color: $color_title;
		background-size: contain;

		svg {
			width: 100%;
			height: 100%;
			fill: $color_title;

			&:hover,
			&:active {
				fill: $green;
			}
		}

		&:hover,
		&:active {
			background-color: $green;
		}
	}

	&:first-child,
	&:last-child {
		a {
			background: transparent;
		}
	}

	&--active {
		a {
			background-color: $green;
		}
	}
}
