.post {
	display: flex;
	padding: 2rem 0;

	.button {
		float: right;
	}

	p {
		padding-top: 0;
		padding-bottom: 1rem;
	}

	a {
		color: $green;
	}

	@media screen and (max-width: $tablet) {
		flex-wrap: wrap;
	}
}

.post__photo {
	width: 40%;
	margin-right: 1.5rem;
	overflow: hidden;

	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	@media screen and (max-width: $tablet) {
		width: 100%;
	}
}

.post__content {
	width: 60%;

	@media screen and (max-width: $tablet) {
		width: 100%;
	}
}
