.product__nav {
	background-color: $gray_light;
	border-bottom: 0.5rem solid $green;
}

.product__nav-list {
	display: flex;
	justify-content: space-between;

	@media (max-width: 600px) {
		flex-wrap: wrap;
		// flex-direction: column;
		// align-items: flex-start;
	}
}

.product__nav-item {
	position: relative;

	@media (max-width: 600px) {
		width: 100%;
	}

	a {
		display: block;
		padding: 1rem 1rem 1rem 4rem;
		width: 100%;
		height: 100%;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.6rem;

		&:active,
		&:hover {
			background-color: #e2e2e2;
		}
	}

	&:before {
		content: "";
		position: absolute;
		top: 0.5rem;
		left: 0;
		display: inline-block;
		width: 3.5rem;
		height: 3.5rem;
		background: center no-repeat;
		background-size: contain;

		@media (max-width: 600px) {
			left: 2rem;
		}
	}

	&:first-child {
		&:before {
			background-image: url("../img/icons/opisanie.svg");
		}
	}

	&:nth-child(2) {
		&:before {
			background-image: url("../img/icons/character.svg");
		}
	}

	&:nth-child(3) {
		&:before {
			background-image: url("../img/icons/uslugi.svg");
		}
	}

	&:last-child {
		&:before {
			background-image: url("../img/icons/complect.svg");
		}
	}
}

/* tabs */
.product__panel {
	width: 100%;
}

.product__tab-list {
	display: flex;

	@media (max-width: $tablet) {
		flex-wrap: wrap;
	}
}

.product__tab {
	position: relative;
	flex-grow: 1;
	padding: 2rem 1rem;
	border-right: 2px solid #d9d9d9;
	border-radius: 0 10px 0 0;
	text-transform: uppercase;
	font-weight: normal;
	background-color: #ededed;
	transition: all 0.3s;
	cursor: pointer;

	&:after {
		content: '';
		background: #fff;
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 0;
		display: block;
	}

	&.active {
		z-index: 10;
		color: #fff;
		background-color: $green;
		box-shadow: 2px 0 0 0 $color_shadow;
		animation: tab 0.3s linear;
	}
}

/* tabs animation */
@keyframes "tab" {
	0% {
		left: 0;
	}

	50% {
		left: 10px;
	}

	100% {
		left: 0;
	}
}

/* tab content */
.product__tab-content {
	padding: 1rem;
	background-color: $gray_light;
	overflow: hidden;
	box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
}

.product__tab-item {

	p {padding: 0;}

	&:not(:first-child) {
		display: none;
	}

	@include clearfix;
}

.product__tab-photo {
	float: left;
	width: 45%;
	margin-right: 1rem;

	img {
		max-width: 100%;
	}
	@media (max-width: $mobile_full) {
		width: 100%;
		margin: 0;
	}
}

.product__tab-text {
	float: right;
	width: 45%;
	@media (max-width: $mobile_full) {
		width: 100%;
	}
}

/* content */
.product__item {
	width: 100%;
	margin-bottom: 3rem;

	p {
		padding: 1rem 0 0;
	}

	dl {
		margin-top: 1rem;
	}

	dt {
		font-weight: 600;
	}

	dd {
		padding: 0.5rem 0;
	}

	&:first-child {
		margin-top: 3rem;
	}

	&--bottom {
		display: flex;
		justify-content: space-around;

		a {
			width: 45%;
		}

		@media (max-width: 540px) {
			flex-direction: column;
			align-items: center;

			a {
				width: 90%;
				margin-bottom: 1rem;
			}
		}
	}
}

.product__sub-title {
	position: relative;
	padding: 2rem 1rem 1.5rem 6rem;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.8rem;
	background-color: $gray_light;
	border-bottom: 0.5rem solid $green;

	&:before {
		content: "";
		position: absolute;
		top: 1rem;
		left: 1rem;
		display: inline-block;
		width: 4rem;
		height: 4rem;
		background: center no-repeat;
		background-size: contain;
	}

	&--description {
		&:before {
			background-image: url("../img/icons/opisanie.svg");
		}
	}

	&--features {
		&:before {
			background-image: url("../img/icons/character.svg");
		}
	}

	&--services {
		&:before {
			background-image: url("../img/icons/uslugi.svg");
		}
	}

	&--complect {
		&:before {
			background-image: url("../img/icons/complect.svg");
		}
	}

	&--buy {
		&:before {
			background-image: url("../img/icons/buy.svg");
		}
	}
}

.product__color-list {
	display: flex;
	@media (max-width: $tablet) {
		flex-wrap: wrap;
	}
}

.product__color {
	position: relative;
	width: 10rem;
	margin-right: 2rem;
	text-align: center;

	span {
		display: block;
		margin-top: 6rem;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 2.25rem;
		width: 5rem;
		height: 5rem;
		border-radius: 1rem;
	}

	&--cherry {
		&:before {
			background-color: #802834;
		}
	}

	&--grafit {
		&:before {
			background-color: #393d40;
		}
	}

	&--brown {
		&:before {
			background-color: #4d2e19;
		}
	}

	&--red {
		&:before {
			background-color: #9c442c;
		}
	}

	&--black {
		&:before {
			background-color: #000;
		}
	}
}

// services list
.product__serve-list {
	display: flex;
	justify-content: space-around;
	padding-top: 2.5rem;
	@media (max-width: 540px) {
		flex-wrap: wrap;
	}
}

.product__serve {
	position: relative;
	width: 20%;
	text-align: center;

	span {
		display: block;
		margin-top: 11rem;
		font: normal 1.6rem $font_1;
		text-transform: uppercase;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 10rem;
		height: 10rem;
		background: center no-repeat;
		background-size: contain;
	}

	&--count {
		&:before {
			background-image: url("../img/icons/count.svg");
		}
	}

	&--consult {
		&:before {
			background-image: url("../img/icons/consult.svg");
		}
	}

	&--deliveri {
		&:before {
			background-image: url("../img/icons/deliveri.svg");
		}
	}

	&--work {
		&:before {
			background-image: url("../img/icons/work.svg");
		}
	}

	@media (max-width: 540px) {
		width: 100%;
		margin-bottom: 2rem;
	}
}

.product__accordion {
	margin-bottom: 10rem;

	label {
		min-height: 4rem;
		font-size: 0;

		&:before {
			left: 0;
			right: 0;
			margin: auto;
			width: 6rem;
			height: 6rem;
			border-radius: 50%;
			background: #f6f6f6 url("../img/icons/arrow-up-green.svg") center 20% no-repeat;
			background-size: 80%;
			transform: translateY(-33%) rotate(180deg);
		}
	}

	input[type=checkbox]:checked + label::before {
		background-color: inherit;
		transform: translateY(-33%);
	}

	ul li:before {
		display: none;
	}
}

.product__slider {
	width: 100%;
	padding: 2rem 4rem;

	li a {
		display: block;
		width: 100%;
		height: 100%;

		img {
			max-width: 100%;
		}
	}

	.swiper-button-next {
		right: 0;
		background-image: url("../img/icons/arrow-next-green.svg");
	}

	.swiper-button-prev {
		left: 0;
		background-image: url("../img/icons/arrow-prev-green.svg");
	}
}
