.search {
	max-width: 33%;

	@media (max-width: $tablet) {
		position: absolute;
		top: 110%;
		right: 0;
		max-width: 100%;
	}
}

.search__list {
	display: flex;
	flex-direction: column;

	@media (max-width: $tablet) {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.search__item {
	width: 100%;

	&:first-child {
		margin-bottom: 1rem;

		@media (max-width: $tablet) {
			margin: 0 1rem 0 0;
		}
	}
}

.search__form {
	position: relative;
}

.search__label {
	input[type="text"] {
		padding-right: 40px;
	}
}

.search__submit {
	position: absolute;
	top: 0;
	right: 0;
	width: 4.5rem;
	height: 100%;
	padding: 0.5rem;
	font-size: 0;
	outline: 0;
	cursor: pointer;
	border: none;
	background: url(../img/icons/search.svg) center no-repeat;
	background-size: 70%;
}
