.sitesearch__result {
	> h2 {
		padding-top: 0;
	}
}

.sitesearch__item {
	margin-bottom: 4rem;

	span {
		display: block;
		padding: 1rem 0;
		font-weight: normal;
		font-size: 1.2rem;
		color: $color_title;
	}

	p {
		padding: 0;
	}
}

.sitesearch__link {
	font-weight: 600;
	color: $green;
}
