.tel {
	width: 100%;
	max-width: 23rem;
	font: normal 1.8rem $font_1;
}

.tel__list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 25rem;
}

.tel__item {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 0.5rem;

	&:first-child {
		margin-top: 0.5rem;
	}
}

.tel__link {
	display: block;

	&:hover,
	&:active {
		color: $green_light;
	}
	@include niceText;
}
